@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #85c4d5;
  --main-dark: #4b8da0;
  --accent: blue;
  @apply text-neutral-800;
}

::selection {
  background-color: var(--main);
  color: white;
}

.body {
  max-width: 760px;
  min-height: 95vh;
  position: relative;
  width: 100%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  padding-bottom: .35em;
}


@media screen and (min-width: 768px) {
  .body {
    max-width: 1000px;
  }
}

.centerDiv {
  @apply flex justify-center items-center;
}

.box {
  @apply rounded-lg bg-white text-center shadow h-full;
}

.boxComponent {
  transition: box-shadow .2s ease;
}

.boxComponent:hover {
  @apply ring-main;
}

.accentText {
  @apply cursor-pointer text-main underline underline-offset-4 font-medium;
}

.hover {
  position: relative;
  top: 0px;
  transition: top ease 0.1s;
}

.hover:hover {
  top: -3px;
}

.hover-right {
  position: relative;
  right: 0px;
  transition: right ease 0.15s;
}

.hover-right:hover {
  right: -5px;
}

.header p {
  transition: color ease .3s;
}

/* Prevent sticky hover on mobile */
@media (hover: hover) {
  .header p:hover {
    color: var(--main);
  }
}

.prose h1 {
  margin-bottom: .5em;
}

.prose {
  max-width: none !important;
  margin-left: auto;
  margin-right: auto;
}