@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #85c4d5;
  --main-dark: #4b8da0;
  --accent: blue;
}

.centerDiv {
  @apply flex justify-center items-center;
}

.box {
  @apply rounded-lg bg-white text-center shadow;
}

.accentText {
  @apply cursor-pointer text-main underline underline-offset-4;
}