@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #85c4d5;
  --main-dark: #4b8da0;
  --accent: blue;
  @apply text-neutral-800;
}

::selection {
  background-color: var(--main);
  color: white;
}

.centerDiv {
  @apply flex justify-center items-center;
}

.box {
  @apply rounded-lg bg-white text-center shadow;
}

.accentText {
  @apply cursor-pointer text-main underline underline-offset-4 font-medium;
}

.hover {
  position: relative;
  top: 0px;
  transition: top ease 0.1s;
}

.hover:hover {
  top: -3px;
}

.hover-right {
  position: relative;
  right: 0px;
  transition: right ease 0.15s;
}

.hover-right:hover {
  right: -5px;
}

.prose h1 {
  margin-bottom: .5em;
}