.welcomeText {
  background-image: linear-gradient(110deg, var(--main-dark) 0%, var(--main) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcomeText::selection {
  background-image: none;
  -webkit-text-fill-color: white;
  color: white;
}